---
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Über uns',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Wer wir sind"
    image={{
      src: '',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Gitarrenbauer aus Leidenschaft
    </Fragment>

    <Fragment slot="subtitle">
      Die Macher hinter der-gitarrenbausatz.de sind allesamt langjährige Gitarrenbauer (und ein Querwiedereinsteiger), 
      die seit vielen Jahren aus Leidenschaft Gitarren bauen. 
    </Fragment>
  </Hero>

  <Content
    isReversed
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Franziska Kössl</h3>
      <span>Gitarrenbaumeisterin</span><br><br>
      Musik wurde Franziska quasi in die Wiege gelegt. Seit 1995 baut sie vorwiegend klassische Gitarren und schloss 2004 ihre Meisterprüfung zur Gitarrenbauerin ab.
      2002 war dann der Startschuss für ihre eigene Gitarrenmarke. Weitere Infos und die aktuellen Modelle findet ihr unter
      <a class="inline-block hover:text-primary transition ease-in duration-200" href="http://franziska-koessl.de">franziska-koessl.de</a>.
    </Fragment>
    
  </Content>

  <Content
    isReversed
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Andreas Dill',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Andreas Dill</h3>
      <span>Gitarrenbaumeister</span><br><br>
      Baut seit 1982 Gitarren und legte 1989 seine Prüfung zum Gitarrenbaumeister ab. Im gleichen Jahr eröffnete er in Weingarten den <a href="https://der-gitarrenladen.de">Gitarrenladen</a>.
      Neben dem Bau und Verkauf von Gitarren ist er als Berater in der Gitarrenindustried tätig. Dabei liegt ihm besonders der nachhaltige
      Bau von Gitarren am Herzen.
    </Fragment>

  </Content>

  <Content
    isReversed
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Michael Lihs</h3>
      <span>Gitarrenbaugeselle & Softwareentwickler</span><br><br>
      Hat seine erste Gitarre 1995 gebaut und 2004 seine Ausbildung zum Gitarrenbau-Gesellen abgeschlossen. Danach folgte ein Studium der Informatik und 
      viele Jahre als Softwareentwickler. Mit der-gitarrenbausatz.de wagt er den Wiedereinstieg in die Welt des Gitarrenbaus, die er allerdings
      nie ganz verlassen hat.
    </Fragment>

  </Content>

  <Content
    isReversed
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Sophia Hartmann</h3>
      <span>Wirtschaftsinformatikerin</span><br><br>
      Hilft in ihrem Berufsalltag großen Unternehmen bei der Einführung von Projektmanagement-Software. In unserem Projekt 
      sorgt sie dafür, dass wir nicht den Überblick verlieren und lernt ihre ersten Akkorde auf der Gitarre.
    </Fragment>

  </Content>
</Layout>
